<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <% if (params.test){ %>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">
    <script src="https://code.jquery.com/qunit/qunit-2.4.1.js"></script>
    <!---<script src="../tests/blanket.min.js" data-cover-flags="debug"></script>--->
    <script src="../tests/helpers_tests.js" data-cover></script>
    <% } %>
    <script src="/socket.io/socket.io.js"           ></script>
    <script src="../javascript/p5/p5.min.js"        ></script>
    <script src="../javascript/p5/p5.dom.min.js"    ></script>
    <script src="../javascript/p5/p5.sound.min.js"  ></script>
    <script src="../javascript/helpers/colors.js"   <%if (params.test){%> data-cover <%}%>></script>
    <script src="../javascript/helpers/defaults.js" <%if (params.test){%> data-cover <%}%>></script>
    <script src="../javascript/helpers/strings.js"  <%if (params.test){%> data-cover <%}%>></script>
    <script src="../javascript/helpers/network.js"  <%if (params.test){%> data-cover <%}%>></script>
    <script src="../javascript/sketch.js"           <%if (params.test){%> data-cover <%}%>></script>
</head>
<body>
<% if (params.test){ %>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<% } %>
</body>
</html>